.changeTradePasswordForm {

  input.custom{
    width: 22.625rem;
  }
  &.ru label {
    font-size: 9px !important;
  }

  .SuccessGreen {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >span {
      margin-top: 2rem;
    }
  }

  .guide {
    display: flex;
    margin-bottom: 2.5rem;
    font-size: 0.75rem;
    margin-left: 5rem;
    div {
      display: flex;
    }
    .gray {
      color: #999;
      display: flex;
      flex-direction: column;
      align-items: center;
      >div {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #eee;
        border-radius: 100%;
      }
      >span {
        width: 4.25rem;
        margin-top: 0.625rem;
        display: block;
        text-align: center;
      }
    }
    .green {
      color: #00A881;
      display: flex;
      flex-direction: column;
      align-items: center;
      >div {
        width: 1.25rem;
        height: 1.25rem;
        background:  #00A881;
        border-radius: 100%;
      }
      >span {
        width: 4.25rem;
        margin-top: 0.625rem;
        display: block;
        text-align: center;
      }
    }
    .svg {
      height: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .MobileGuide {
    display: flex;
    margin-bottom: 2.5rem;
    font-size: 0.75rem;
    width: 100%;
    div {
      display: flex;
    }
    .gray {
      color: #999;
      display: flex;
      flex-direction: column;
      align-items: center;
      >div {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #eee;
        border-radius: 100%;
      }
      >span {
        width: 4.25rem;
        margin-top: 0.625rem;
        display: block;
        text-align: center;
      }
    }
    .green {
      color: #00A881;
      display: flex;
      flex-direction: column;
      align-items: center;
      >div {
        width: 1.25rem;
        height: 1.25rem;
        background:  #00A881;
        border-radius: 100%;
      }
      >span {
        width: 4.25rem;
        margin-top: 0.625rem;
        display: block;
        text-align: center;
      }
    }
    .svg {
      height: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .buttonGroup {
    width:100%;
    text-align:left;

    button{
      width: 9.325rem;
      min-width: 9.325rem;
    }

    button[type=button]{
      height: 2.5rem;
      background-color: #fff;
      color: #333;
      border: 1px #ddd solid;
      border-radius: 3px;
      margin-right: 22px;
    }
  }

  .focus {
    text-align: left;
    span {
      font-size: 0.75rem;
      color: rgba(153, 153, 153, 1);
      text-align: left;
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 593px){
  .changeTradePasswordForm{
  .buttonGroup {
    display: flex;
    justify-content: space-between;

  button{
    margin-top: 1.25rem;
    margin-bottom: .625rem;
    width: 100% !important;
    min-width: auto;
  }
}
}
}
